<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>Contacto - Prime Ambassador</title>
    <meta name="title" content="Contacto - Prime Ambassador" />
    <meta
      name="description"
      content="Tú no crees en los lugares comunes, y nosotros tampoco. Nos esforzamos por alcanzar la grandeza absoluta, y nuestros relojes son la viva ilustración de esa ideología."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metatags.io/" />
    <meta property="og:title" content="Contacto - Prime Ambassador" />
    <meta
      property="og:description"
      content="Tú no crees en los lugares comunes, y nosotros tampoco. Nos esforzamos por alcanzar la grandeza absoluta, y nuestros relojes son la viva ilustración de esa ideología."
    />
    <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta property="twitter:title" content="Contacto - Prime Ambassador" />
    <meta
      property="twitter:description"
      content="Tú no crees en los lugares comunes, y nosotros tampoco. Nos esforzamos por alcanzar la grandeza absoluta, y nuestros relojes son la viva ilustración de esa ideología."
    />
    <meta
      property="twitter:image"
      content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"
    />

    <!-- LINKS -->

    <link rel="stylesheet" href="../lib/fontawesome-free-6.1.1-web/css/all.css" />
    <link rel="stylesheet" href="../css/layouts/layout_preloader.css" />
    <link rel="stylesheet" href="../css/estilos_generales.css" />
    <link rel="stylesheet" href="../css/layouts/layout_header_allpages.css" />
    <link rel="stylesheet" href="../css/estilos_contacto.css" />
    <link rel="stylesheet" href="../css/layouts/layout_footer.css" />
  </head>
  <body>
    <!-- PRELOADER DE CARGA -->

    <section class="preloaderBg flex" id="preloader">
      <section>
        <div class="preloader"></div>
        <div class="preloader2"></div>
      </section>
    </section>

    <!-- HEADER y BANNER -->

    <section class="s-banner">
      <header>
        <nav class="navbar flex">
          <div class="hamburguer">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <a href="#" class="nav-branding">PRIME AMBASSADOR</a>

          <ul class="nav-menu">
            <li class="nav-item">
              <a href="../index.html" class="nav-link uppercase" data-section="general" data-value="enlace-home">Home</a>
            </li>
            <li class="nav-item">
              <a href="hombre_page.html" class="nav-link uppercase" data-section="general" data-value="enlace-hombre">Hombre</a>
            </li>
            <li class="nav-item">
              <a href="mujer_page.html" class="nav-link uppercase" data-section="general" data-value="enlace-mujer">Mujer</a>
            </li>
            <li class="nav-item">
              <a href="contacto_page.html" class="nav-link uppercase" data-section="general" data-value="enlace-contacto">Contacto</a>
            </li>
            <li>
              <a href="#" class="idiomdesk">
                <div>
                  <p id="es" class="elegiridioma bold">ES</p>
                </div>
              </a>
            </li>
          </ul>
          <a href="#" class="idiommobil">
            <p id="es" class="elegiridioma">ES</p>
          </a>
        </nav>
      </header>

      <!-- TEXTO CONTACTO -->

      <section class="flex s-textobanner">
        <h2 class="uppercase" data-section="contacto" data-value="titulo">Contacto</h2>
        <p data-section="contacto" data-value="subtitulo">
          ¿Preguntas? ¿Preocupaciones? ¡Estamos listos para ayudar! Experimente nuestro soporte de clase mundial enviándonos un mensaje hoy.
        </p>
      </section>
    </section>

    <!-- SECCION PRINICIPAL DE LA PAGINA -->

    <main>
      <!-- FORMULARIO -->

      <section class="main-section">
        <section class="form-section">
          <h3 data-section="contacto" data-value="titulo-formulario">Envíanos un mensaje...</h3>
          <form action="contacto_page.html" method="post">
            <select required>
              <option selected disabled data-section="contacto" data-value="opcion-vacia">-- Elige una opción--</option>
              <option data-section="contacto" data-value="opcion-hombre">Relojes hombre</option>
              <option data-section="contacto" data-value="opcion-mujer">Relojes mujer</option>
              <option data-section="contacto" data-value="opcion-otros">Otros</option>
            </select>
            <div class="inputpeq">
              <input type="text" placeholder="Name" required />
              <input type="text" placeholder="Surname" required />
              <input type="email" placeholder="Email" required />
              <input type="tel" placeholder="Phone" required />
            </div>
            <textarea placeholder="Message" required></textarea>
            <div class="i-checkbox">
              <input type="checkbox" id="terms" />
              <label for="terms">I have read and agreed with <a href="#">the terms and conditions.</a></label>
            </div>
            <div class="btn-form flex">
              <input type="submit" value="ENVIAR" />
              <input type="reset" value="RESET" />
            </div>
          </form>
        </section>

        <!-- SECCION EMAIL -->

        <section class="email-section">
          <h3 data-section="contacto" data-value="email">¿Prefieres email?</h3>
          <a href="mailto:proyectofinalhtmlcssjs@gmail.com">proyectofinalhtmlcssjs@gmail.com</a>
        </section>
      </section>
    </main>

    <!-- FOOTER -->

    <footer class="flex">
      <a href="index.html" class="logo-footer">
        <img src="../images/logofooter.svg" alt="" />
      </a>
      <div class="d-rrss">
        <a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-twitter"></i></a
        ><a href="#"><i class="fab fa-pinterest-p"></i></a><a href="#"><i class="fab fa-youtube"></i></a
        ><a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="d-info">
        <a href="#" data-section="general" data-value="footer-nombre">2021 AMBASSADOR</a>
        <a href="#">|</a>
        <a href="#" data-section="general" data-value="footer-privacidad">Política de Privacidad</a>
        <a href="#">|</a>
        <a href="#" data-section="general" data-value="footer-condiciones">Términos & Condiciones</a>
        <a href="#">|</a>
        <a href="#" data-section="general" data-value="footer-faq">FAQ</a>
      </div>
    </footer>

    <!-- SCRIPS -->

    <script src="../lib/jquery-3.6.0.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/idiomas.js"></script>
    <script src="../lib/fontawesome-free-6.1.1-web/js/all.js"></script>
    <script src="../js/preloader.js"></script>
  </body>
</html>
