<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>Relojes de Mujer - Prime Ambassador</title>
    <meta name="title" content="Relojes de Mujer - Prime Ambassador" />
    <meta
      name="description"
      content="Tú no crees en los lugares comunes, y nosotros tampoco. Nos esforzamos por alcanzar la grandeza absoluta, y nuestros relojes son la viva ilustración de esa ideología."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metatags.io/" />
    <meta property="og:title" content="Relojes de Mujer - Prime Ambassador" />
    <meta
      property="og:description"
      content="Tú no crees en los lugares comunes, y nosotros tampoco. Nos esforzamos por alcanzar la grandeza absoluta, y nuestros relojes son la viva ilustración de esa ideología."
    />
    <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta property="twitter:title" content="Relojes de Mujer - Prime Ambassador" />
    <meta
      property="twitter:description"
      content="Tú no crees en los lugares comunes, y nosotros tampoco. Nos esforzamos por alcanzar la grandeza absoluta, y nuestros relojes son la viva ilustración de esa ideología."
    />
    <meta
      property="twitter:image"
      content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png"
    />

    <!-- LINKS -->

    <link rel="stylesheet" href="../lib/fontawesome-free-6.1.1-web/css/all.css" />
    <link rel="stylesheet" href="../css/layouts/layout_preloader.css" />
    <link rel="stylesheet" href="../css/estilos_generales.css" />
    <link rel="stylesheet" href="../css/layouts/layout_header_allpages.css" />
    <link rel="stylesheet" href="../css/estilos_mujer.css" />
    <link rel="stylesheet" href="../css/layouts/layout_footer.css" />
  </head>
  <body>
    <!-- PRELOADER DE CARGA -->

    <section class="preloaderBg flex" id="preloader">
      <section>
        <div class="preloader"></div>
        <div class="preloader2"></div>
      </section>
    </section>

    <!-- HEADER y BANNER -->

    <section class="s-banner">
      <header>
        <nav class="navbar flex">
          <div class="hamburguer">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <a href="#" class="nav-branding">PRIME AMBASSADOR</a>

          <ul class="nav-menu">
            <li class="nav-item">
              <a href="../index.html" class="nav-link uppercase" data-section="general" data-value="enlace-home">Home</a>
            </li>
            <li class="nav-item">
              <a href="hombre_page.html" class="nav-link uppercase" data-section="general" data-value="enlace-hombre">Hombre</a>
            </li>
            <li class="nav-item">
              <a href="mujer_page.html" class="nav-link uppercase" data-section="general" data-value="enlace-mujer">Mujer</a>
            </li>
            <li class="nav-item">
              <a href="contacto_page.html" class="nav-link uppercase" data-section="general" data-value="enlace-contacto">Contacto</a>
            </li>
            <li>
              <a href="#" class="idiomdesk">
                <div>
                  <p id="es" class="elegiridioma bold">ES</p>
                </div>
              </a>
            </li>
          </ul>
          <a href="#" class="idiommobil">
            <p id="es" class="elegiridioma">ES</p>
          </a>
        </nav>
      </header>
      <section class="flex s-textobanner">
        <h2 class="uppercase" data-section="mujer" data-value="titulo-banner-mujer">Relojes de mujer</h2>
        <p data-section="mujer" data-value="texto-banner-mujer">
          Compre nuestra colección de relojes para mujer que complementan su personalidad única, al tiempo que agrega un toque clásico elegante de
          expresión lujosa a cualquier atuendo.
        </p>
      </section>
    </section>

    <!-- CARACTERISTICAS EMPRESA -->

    <section class="s-caracteristicas flex uppercase">
      <div class="flex">
        <i class="fa-solid fa-plane s-icons"></i>
        <h4 data-section="general" data-value="caracteristicas-envio">Envio gratuito</h4>
      </div>
      <div class="flex">
        <i class="fa-solid fa-note-sticky s-icons"></i>
        <h4 data-section="general" data-value="caracteristicas-garantia">10 años de garantia</h4>
      </div>
      <div class="flex">
        <i class="fa-solid fa-arrow-rotate-left s-icons"></i>
        <h4 data-section="general" data-value="caracteristicas-devolucion">Devolucion gratuita</h4>
      </div>
      <div class="flex">
        <i class="fa-solid fa-paper-plane s-icons"></i>
        <h4 data-section="general" data-value="caracteristicas-entrega">Entrega urgente</h4>
      </div>
    </section>

    <!-- CONTENIDO PRINCIPAL DE LA PAGINA -->

    <main>
      <!-- RELOJES MUJER HERITAGE -->

      <section class="s-relojesmujer">
        <section class="s-relojesmujer-relojes">
          <article class="flex">
            <img src="../images/1-relojmujer.png" alt="Reloj mujer Heritage 1863" />
            <h3 class="uppercase h3-title-reloj-mujer" data-section="mujer" data-value="titulo-1863">Heritage 1863</h3>
            <h4 data-section="mujer" data-value="descripcion-1863">Lujo excepcional y audaz</h4>
            <h3 data-section="mujer" data-value="precio-1863">199 €</h3>
          </article>
          <article class="flex">
            <img src="../images/2-relojmujer.png" alt="Reloj mujer Heritage 1921" />
            <h3 class="uppercase h3-title-reloj-mujer" data-section="mujer" data-value="titulo-1921">Heritage 1921</h3>
            <h4 data-section="mujer" data-value="descripcion-1921">El último reloj de negocios</h4>
            <h3 data-section="mujer" data-value="precio-1921">319 €</h3>
          </article>
          <article class="flex">
            <img src="../images/3-relojmujer.png" alt="Reloj mujer Heritage 1959" />
            <h3 class="uppercase h3-title-reloj-mujer" data-section="mujer" data-value="titulo-1959">Heritage 1959</h3>
            <h4 data-section="mujer" data-value="descripcion-1959">Una lujosa obra maestra moderna</h4>
            <h3 data-section="mujer" data-value="precio-1959">120 €</h3>
          </article>
        </section>
      </section>

      <!-- BANNER PUBLICIDAD -->

      <section class="s-banner1publi">
        <div class="d-banner1-content">
          <h2 class="uppercase" data-section="mujer" data-value="titulo-misterio">Impresionante, Excepcional, Mujer</h2>
          <p data-section="mujer" data-value="texto-misterio" class="separacion-lineas text-justify">
            Eres una líder, una inspiración, un modelo a seguir y una mujer notable, en resumen, eres una Embajadora. Y te mereces lo mejor de lo
            mejor.
          </p>
          <p data-section="mujer" data-value="texto-2-misterio" class="separacion-lineas text-justify">
            Hemos creado nuestra colección de relojes para mujer con la excelencia en mente. Permitiéndote exhibir tu personalidad única, mientras
            agregas un toque de elegancia lujosa y alegría vibrante para cautivar, impresionar e inspirar.
          </p>
        </div>
      </section>

      <!-- CORREAS RELOJES BOTONES -->

      <section class="s-correasrelojes">
        <section class="s-botonescorreasrelojes flex">
          <div class="correas-all">
            <div></div>
            <small class="small1">All</small>
          </div>
          <div class="correas-gold">
            <div></div>
            <small class="small2">Gold</small>
          </div>
          <div class="correas-silver">
            <div></div>
            <small class="small3">Silver</small>
          </div>
        </section>
      </section>

      <!-- CORREAS RELOJES DINAMICO -->

      <section class="s-correasrelojess">
        <section class="s-correasrelojes-relojes"></section>
      </section>

      <!-- SECCION EXPLORA -->

      <section class="s-explora flex text-center">
        <div class="d-line"></div>
        <p class="p-sub uppercase" data-section="mujer" data-value="explora-titulo">explora</p>
        <h2 class="uppercase" data-section="mujer" data-value="explora-subtitulo">deja lo ordinario atrás</h2>
        <p class="separacion-lineas text-center" data-section="mujer" data-value="explora-text">
          Tú no crees en los lugares comunes, y nosotros tampoco. Nos esforzamos por alcanzar la grandeza absoluta, y nuestros relojes son la viva
          ilustración de esa ideología. ¿Estás listo para dejar huella?
        </p>
      </section>
    </main>

    <!-- FOOTER -->

    <footer class="flex">
      <a href="index.html" class="logo-footer">
        <img src="../images/logofooter.svg" alt="Logo footer" />
      </a>
      <div class="d-rrss">
        <a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-twitter"></i></a
        ><a href="#"><i class="fab fa-pinterest-p"></i></a><a href="#"><i class="fab fa-youtube"></i></a
        ><a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="d-info">
        <a href="#" data-section="general" data-value="footer-nombre">2021 AMBASSADOR</a>
        <a href="#">|</a>
        <a href="#" data-section="general" data-value="footer-privacidad">Política de Privacidad"</a>
        <a href="#">|</a>
        <a href="#" data-section="general" data-value="footer-condiciones">Términos & Condiciones</a>
        <a href="#">|</a>
        <a href="#" data-section="general" data-value="footer-faq">FAQ</a>
      </div>
    </footer>

    <!-- SCRIPS -->

    <script src="../lib/jquery-3.6.0.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/idiomas.js"></script>
    <script src="../js/ajax/hombre_mujer_ajax.js"></script>
    <script src="../lib/fontawesome-free-6.1.1-web/js/all.js"></script>
    <script src="../js/preloader.js"></script>
  </body>
</html>
